{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/comingsoon.css' %}">
</head>
<body>
    <div id="second">
        <div id="thanks">
            <h1>Thank you for subscribing!</h1>
        </div>
        <div class="video-container">
            <video id="subscribeVideo" autoplay muted playsinline>
                <source src="/media/Videos/subscribe.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div id="first">
        <div id="newsletter">
            <div class="box">
                <p>Register your email address below to receive an alert about all the updates regarding the new collection of Burriqueira&reg;</p>
                <div class="subscription">
                    <form id="newsletterForm" class="sub-container" method="POST" action="{% url 'Coming Soon' %}">
                        {% csrf_token %}
                        {{ form.email }}
                        <input type="submit" id="subscribeInput" value="Subscribe">
                    </form>
                    <p class="info">We don't share your information with others.</p>
                    <p id="errorMessage"></p>
                </div>
            </div>       
        </div>
        <video id="video" autoplay muted playsinline>
            <source src="/media/Videos/incio_comp.mp4" type="video/mp4">
        </video>  
    </div>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>